<div id='menu-header'>
  <li class="menu-home"><a href="#">Home</a></li>
  <li class="menu-home"><a href="#">Quản Lý Phòng</a></li>
  <li class="menu-li"><a href="#">Quản Lý Thiết Bị</a></li>
  <li class="menu-li"><a href="#">Tài Khoản</a></li>
  <li class="menu-li"><a href="#">Nhật ký</a></li>
  <li class="menu-li"><a href="#">Liên hệ</a></li>
</div>
